<div class="blog-tile-container">
  <p class="blog-tile-title">{{title}}</p>
  <p class="blog-tile-subtitle">published on {{dateCreated}}</p>
  <div>
    <button onclick="loadBlogBtnHandler({{id}})">View</button>
    <button onclick="editBlogBtnHandler({{id}})">Edit</button>
    <button onclick="deleteBlogBtnHandler({{id}})">Delete</button>

  </div>
</div>