<main>
  <div class="main-header">
    <h1>{{title}}</h1>
    <h3>by {{user.username}} on {{dateCreated}}</h3>
    <p class="blog-content">
      {{content}}
    </p>

  <div class="comment-section">
    <h2>Comments</h2>
    <div>
      <form id="comment-form">
        <textarea id="comment-text" cols="50" rows="5"></textarea><br>
        <input id="blog-value" type="hidden" value="{{id}}" />
        <input type="submit" >
      </form>
    </div>
    {{#each comments as |comment|}}
        {{> comment-tile}}
    {{/each}}
  </div>
    </div>
</main>
<script src="/js/blog.js"></script>